<%- include('../partials/header') %>

<h2>โ๏ธ Sแปญa Nhร cung cแบฅp</h2>

<form action="/suppliers/<%= supplier._id %>" method="POST">
  <label>Tรชn nhร cung cแบฅp:</label><br>
  <input type="text" name="name" value="<%= supplier.name %>" required><br><br>

  <label>ฤแปa chแป:</label><br>
  <input type="text" name="address" value="<%= supplier.address %>"><br><br>

  <label>Sแป ฤiแปn thoแบกi:</label><br>
  <input type="text" name="phone" value="<%= supplier.phone %>"><br><br>

  <button type="submit">๐พ Cแบญp nhแบญt</button>
</form>

<a href="/suppliers">โฌ๏ธ Quay lแบกi</a>

<%- include('../partials/footer') %>
