<%- include('../partials/header') %>
<h1>Sửa Nhà cung cấp</h1>
<form action="/suppliers/<%= supplier._id %>?_method=PUT" method="POST">
  <label>Tên: <input name="name" value="<%= supplier.name %>" required /></label><br/>
  <label>Địa chỉ: <input name="address" value="<%= supplier.address %>" /></label><br/>
  <label>Số điện thoại: <input name="phone" value="<%= supplier.phone %>" /></label><br/>
  <button type="submit">Cập nhật</button>
</form>
<%- include('../partials/footer') %>

