<%- include('../partials/header') %>
<h1>Danh sรกch Nhร cung cแบฅp</h1>
<a href="/suppliers/new">โ Thรชm nhร cung cแบฅp</a>
<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Tรชn</th><th>ฤแปa chแป</th><th>Sแป ฤiแปn thoแบกi</th><th>Hรnh ฤแปng</th>
    </tr>
  </thead>
  <tbody>
    <% suppliers.forEach(s => { %>
      <tr>
        <td><a href="/suppliers/<%= s._id %>"><%= s.name %></a></td>
        <td><%= s.address %></td>
        <td><%= s.phone %></td>
        <td>
          <a href="/suppliers/<%= s._id %>/edit">โ๏ธ Sแปญa</a>
          <form action="/suppliers/<%= s._id %>?_method=DELETE" method="POST" style="display:inline">
            <button type="submit" onclick="return confirm('Bแบกn cรณ chแบฏc muแปn xรณa?')">๐๏ธ Xรณa</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>

