<%- include('../partials/header') %>

<h2>โ๏ธ Sแปญa sแบฃn phแบฉm</h2>

<form action="/products/<%= product._id %>" method="POST">
  <label>Tรชn sแบฃn phแบฉm:</label><br>
  <input type="text" name="name" value="<%= product.name %>" required><br><br>

  <label>Giรก:</label><br>
  <input type="number" name="price" value="<%= product.price %>" required><br><br>

  <label>Sแป lฦฐแปฃng:</label><br>
  <input type="number" name="quantity" value="<%= product.quantity %>" required><br><br>

  <label>Nhร cung cแบฅp:</label><br>
  <select name="supplier" required>
    <% suppliers.forEach(s => { %>
      <option value="<%= s._id %>" <%= product.supplier && product.supplier.equals(s._id) ? 'selected' : '' %>>
        <%= s.name %>
      </option>
    <% }) %>
  </select><br><br>

  <button type="submit">๐พ Cแบญp nhแบญt</button>
</form>

<a href="/products">โฌ๏ธ Quay lแบกi</a>

<%- include('../partials/footer') %>
