<%- include('../partials/header') %>
<h1>Danh sรกch Sแบฃn phแบฉm</h1>
<a href="/products/new">โ Thรชm sแบฃn phแบฉm</a>
<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Tรชn</th><th>ฤแปa chแป</th><th>Phone</th><th>Nhร cung cแบฅp</th><th>Hรnh ฤแปng</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(p => { %>
      <tr>
        <td><a href="/products/<%= p._id %>"><%= p.name %></a></td>
        <td><%= p.address %></td>
        <td><%= p.phone %></td>
        <td><%= p.supplierId ? p.supplierId.name : 'N/A' %></td>
        <td>
          <a href="/products/<%= p._id %>/edit">โ๏ธ Sแปญa</a>
          <form action="/products/<%= p._id %>?_method=DELETE" method="POST" style="display:inline">
            <button type="submit" onclick="return confirm('Bแบกn cรณ chแบฏc muแปn xรณa?')">๐๏ธ Xรณa</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>

